*{
    margin: 0;
    padding: 0;
}
/* header start */
.header-st{
    background-color: #e554731a;
}
.header_container {
    margin: 0px 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}
.header-sms{
    width: 708px;
}
.title-text{
    color: #291919;
    font-size: 70px;
    font-weight: 800;
}
.praghrap{
    color: rgba(87, 82, 82, 0.6);
    font-size: 17px;
    font-weight: 390;
    line-height: 25px;
    margin: 30px 0px;
}
.btn{
    color: aliceblue;
    border-radius: 8px;
    background: #0d0003;
    padding: 25px 45px;
    border: none;
    /* cursor: pointer; */
}
.photo{
    width: 600px;
    height: 650px;

}
/* main part start */
.main-section{
    margin: 100px 110px;
}
.main-div-container h3{
    color: #0d0101;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}
.main-div-container p{
    color: rgba(21, 5, 5, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.flower-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1 img {
    /* border-radius: 300px 300px 0px 0px; */
    border-radius: 295px 295px 0px 0px ;
}
.box2 img {
    border-radius: 300px 300px 0px 0px;
}
.box3 img {
    border-radius: 300px 300px 0px 0px;
}
.box1 img {
    background-color: #a7216226;
}
.box2 img {
    background-color: #0597a026;
  }
  .box3 img {
    background-color: #477d1126;
}
.flower-container a {
    display: block;
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.flower-container img {
    width: 300px;
    height: 300px;
    padding: 100px 47px 57px 47px;
    margin: 40px 10px 0px 10px;
}
/* main part end */
.hotdeal{
    background-color: #e554730d;
    height: 550px;
}
.hotdeal-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin: 0px 100px;
 }
.hotdeal-container h3{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.btn-one{
    margin: 0px 25%;
}
.text{
    color: #0fe928;
}
.hotdeal-container p {
    margin: 40px 0;
    color: rgba(27, 2, 2, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
}
.photo-cover{
    width: 300px;
    height: 350px;
    padding: 100px 150px;
}
.facebook-section{
    margin: 0px 110px;
}
.face-text{
    text-align: center;
    margin: 100px 0px 50px 0px;
}
.face-text h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}