*{
    margin: 0;
    padding: 0;
}
/* header start */
.header-st{
    background-color: #e554731a;
}
.header_container {
    margin: 0px 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}
.header-sms{
    width: 708px;
}
.title-text{
    color: #291919;
    font-size: 70px;
    font-weight: 800;
}
.praghrap{
    color: rgba(87, 82, 82, 0.6);
    font-size: 17px;
    font-weight: 390;
    line-height: 25px;
    margin: 30px 0px;
}
.btn{
    color: aliceblue;
    border-radius: 8px;
    background: #0d0003;
    padding: 25px 45px;
    border: none;
    /* cursor: pointer; */
}
.photo{
    width: 600px;
    height: 650px;

}
/* main part start */
.main-section{
    margin: 100px 110px;
}
.main-div-container h3{
    color: #0d0101;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}
.main-div-container p{
    color: rgba(21, 5, 5, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.flower-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    border-radius: 300px 300px 0px 0px;
    background-color: #d490b126;
}