*{
    margin: 0;
    padding: 0;
}
/* header start */
.header-st{
    background-color: #e554731a;
}
.header_container {
    margin: 0px 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
  }
  .header-sms{
    width: 708px;
  }
  .title-text{
    color: #291919;
    font-size: 70px;
    font-weight: 800;
  }
  .praghrap{
    color: rgba(87, 82, 82, 0.6);
    font-size: 17px;
    font-weight: 390;
    line-height: 25px;
    margin: 30px 0px;
  }
  .btn{
    border-radius: 8px;
    background: #3c0310;
    padding: 20px 43px;
    border: none;
    cursor: pointer;
  }
  .photo{
    width: 600px;
    height: 650px;

  }